<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DSTrainer</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>DSTrainer by Raúl García</h1>
    <div id="content">
        <p>{{ question }}</p>
        <form action="/evaluate-answer" method="post">
            <textarea name="answer" placeholder="Enter your answer here" rows="10" cols="50"></textarea>
        <p>
            <td>
                <button type="submit">Submit Answer</button>
            </td>
            <td>
                <button onclick="refreshPage()">Generate Another Question</button>
                <script>
                    function refreshPage() {
                        location.reload(); // Reloads the page
                    }
                </script>
            </td>
        </p>
        </form>
    </div>
</body>
</html>
